.app {
  padding: 0;
  margin: 0;
  width: 100%;
}

.cards {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  max-width: 1280px;
  padding-left: 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 48px;
  padding: 24px;
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;  /* Largura do scroll */
  height: 8px; /* Altura do scroll (para scroll horizontal) */
}

/* Estilo do fundo do scroll */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* Fundo transparente */
  border-radius: 10px;
}

/* Estilo do thumb (barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Cor do thumb (branco) */
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0); /* Borda transparente para um efeito mais suave */
}

/* Estilo do thumb quando estiver sendo tocado/arrastado */
::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3; /* Cor do thumb quando em hover */
}