:root {
  --corFundo: #eb0a44;
  --corFonte: whitesmoke;
  --corEscura: #26251c;
  --corAnaloga1: #f2643d;
  --corAnaloga2: #f2a73d;
  --corContraste: #a0e8b7;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--corFundo);
}